rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write their own user data
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow authenticated users to read and write messages
    match /messages/{messageId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && (
        // Allow users to delete their own messages
        request.resource.data.userId == request.auth.uid ||
        // Allow DaddyPig to delete any message
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.username == 'DaddyPig'
      );
    }
    
    // Allow authenticated users to read and write the message of the day
    match /settings/{documentId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
} 